apiVersion: v2
name: refractr
description: A Helm chart for the refractr redirect application
type: application

# Chart version, bump for any changes
version: 1.0

keywords:
  - Mozilla
  - refractr

home: https://github.com/mozilla-it/refractr
sources:
  - https://github.com/mozilla-it/refractr

maintainers:
  - name: Eric Ziegenhorn
    email: eric@mozilla.com
