apiVersion: v2
name: discourse
description: A Helm Chart for Mozilla's Discourse application
type: application
version: 3.0.7
appVersion: f58ded6
keywords:
  - Mozilla
  - discourse
sources:
  - https://github.com/mozilla/discourse.mozilla.org
maintainers:
  - name: Web SRE Team
    email: it-sre@mozilla.com

dependencies:
- name: cert-manager
  version: 1.4.4
  condition: cert-manager.install
  repository: https://charts.jetstack.io
