---
# Create refractr service account, roles and rolebinding so helm cart can run
apiVersion: v1
kind: ServiceAccount
metadata:
  name: refractr
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
  labels:
    {{- include "refractr.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  name: refractr
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
  labels:
    {{- include "refractr.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - pods
      - secrets
      - namespaces
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - configmaps
      - ingresses
    verbs:
      - get
      - update
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
  - apiGroups:
      - ""
    resources:
      - endpoints
    verbs:
      - get
  - apiGroups:
      - extensions
      - "networking.k8s.io" # k8s 1.14+
    resources:
      - ingresses
    verbs:
      - get
      - update
      - create
      - list
      - patch
      - delete
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: refractr
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
  labels:
    {{- include "refractr.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: refractr
subjects:
  - kind: ServiceAccount
    name: refractr
---

# run a helm pre-install hook, calling the refractr container with an argument to create an Ingress dynamically from the list of domains since we need certs for all of them
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Release.Name }}-ingress-preinstall-hook"
  labels:
    {{- include "refractr.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
spec:
  template:
    metadata:
      name: "{{ .Release.Name }}-ingress-preinstall-hook"
      labels:
        {{- include "refractr.labels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "refractr.serviceAccountName" . }}
      restartPolicy: Never
      containers:
        - name: "{{ .Release.Name }}-ingress-preinstall-hook"
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          args: ["ingress"]
