apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "fluentd-papertrail.fullname" . }}
  labels:
    {{- include "fluentd-papertrail.labels" . | nindent 4 }}
spec:
  updateStrategy:
{{ toYaml .Values.updateStrategy | indent 4 }}
  selector:
    matchLabels:
      {{- include "fluentd-papertrail.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- if .Values.podAnnotations }}
      annotations:
      {{- range $key, $value := .Values.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
      {{- end }}
      labels:
        {{- include "fluentd-papertrail.labels" . | nindent 8 }}
    spec:
      {{- if .Values.rbac.create }}
      serviceAccountName: {{ template "fluentd-papertrail.serviceAccountName" . }}
      {{- end }}
      terminationGracePeriodSeconds: 30
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            {{- if .Values.secrets.name }}
            - name: FLUENT_PAPERTRAIL_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ template "fluentd-papertrail.secrets" . }}
                  key: FLUENT_PAPERTRAIL_HOST
            - name: FLUENT_PAPERTRAIL_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ template "fluentd-papertrail.secrets" . }}
                  key: FLUENT_PAPERTRAIL_PORT
            {{- end }}
            - name: FLUENT_HOSTNAME
              value: {{ template "fluentd-papertrail.clusterName" . }}
            - name: K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
          - name: varlog
            mountPath: /var/log
          - name: varlibdockercontainers
            mountPath: /var/lib/docker/containers
            readOnly: true
          - name: config
            mountPath: /fluentd/etc/fluent.conf
            subPath: fluent.conf
          resources:
{{ toYaml .Values.resources | indent 12 }}
      volumes:
      - name: varlog
        hostPath:
          path: /var/log
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
      - name: config
        configMap:
          name: {{ template "fluentd-papertrail.configMap" . }}
          items:
          - key: fluent.conf
            path: fluent.conf
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
